{% extends 'layout.html' %}

{% block title %}Accueil | Jeu du pendu{% endblock %}

{% block content %}
<div class="bloc-princip">
    <div class="rectangle">
        <h3>Le jeu du pendu</h3>
        <div class="formulaire">
            <form action="/play" method="post">
                <input type="text" class="inpt-image" placeholder="Pseudo..." id="pseudo" name="pseudo"/>
                <button type ="submit" class="btn-image"></button>
            </form>
        </div>
    </div>
</div>
{% endblock %}