{% extends 'layout.html' %}

{% block title %}Play | Jeu du pendu{% endblock %}

{% block content %}
    <audio autoplay loop>
        <source src="/static/Midnight_Tiptoe.mp3" type="audio/mpeg">
    </audio>
  <div class="bloc-princip">
    <div class="rectangle-jeu">
      <div class="haut" >
        <div class="pseudo" id ="pseudo"><p>{{pseudo }}</p></div>
        <div class="pseudo" id="vies"><p>{% for i in range(vies) %}🖤{% endfor %}</p></div>
        <div class="score" id ="score">Score : {{score}}</div>
      </div>
        <div class="winner" id ="winner">
          <p>Bien joué ! </p>
          <button class="btn-image"onclick="motSuivant()">Suivant !</button>
        </div>
        <div class="mot" id ="mot">
          {% for lettre in mot %}
            {% if lettre in lettres_trouvees %}
                {{ lettre }}
            {% else %}
                _
              {% endif %}
          {% endfor %}</div>
      <div class="clavier">
      
        {% for lettre in clavier %}
          <button class="btn-letter" onclick="devinerLettre('{{lettre}}', this)">{{lettre}}</button>
        {% endfor %}
      
      </div>
    </div>
  </div>
  <script>
    let lettresDejaDites = [];
    function devinerLettre(lettre, bouton) {
      if (lettresDejaDites.includes(lettre));
      lettresDejaDites.push(lettre);
      bouton.disabled = true;
      bouton.classList.add("btn-used")
    fetch("/guess", {
        method: "POST",
        headers: {"Content-Type": "application/x-www-form-urlencoded"},
        body: "lettre=" + lettre
    })
    .then(response => response.json())
    .then(data => {
        console.log(data) 
        document.getElementById("score").textContent = "Score:" + data.score;
        let affichage = "";
        for (let lettre of data.mot) {
          if (data.lettres_trouvees.includes(lettre)) {
            affichage += lettre + " ";
          } else {
            affichage += " _ ";

          }
        }
        document.getElementById("mot").textContent = affichage;

        let coeurs ="";
        for (let i = 0; i < data.vies; i++) {
          coeurs += "🖤";
        }
        document.getElementById("vies").textContent = coeurs;

        if (data.gameover) {
          window.location.href = "/gameover"
          }
        if (data.victoire) {
          document.getElementById("winner").style.display= "block";
        }

    })
}
  function motSuivant(){
    fetch("/next")
    .then(response => response.json())
    .then(data => {
      document.getElementById("winner").style.display= "none";
      let affichage ="";
      for (let lettre of data.mot) {
        affichage += " _ ";
      }
      document.getElementById("mot").textContent = affichage;
      document.querySelectorAll(".btn-letter").forEach(btn => {
        btn.disabled = false;
        btn.classList.remove("btn-used");
      });

    })
  }
  
  for (let i = 0; i < 50; i++) {
    let etoile = document.createElement("div");
    etoile.textContent = "✦";
    etoile.style.position = "absolute";
    etoile.style.top = Math.random() * 100 + "%";
    etoile.style.left = Math.random() * 100 + "%";
    etoile.style.color = "#FFB000";
    etoile.style.fontSize = Math.random() * 20 + 10 + "px";
    etoile.style.zIndex = "-1";
    document.body.appendChild(etoile);
}</script>
{% endblock %}